
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <!-- show message when product added to cart -->
        {{#if successMessage}}
          <div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3" role="alert">
              {{successMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <br>
        {{/if}}

        {{#if errorMessage}}
          <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3" role="alert">
              {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <br>
        {{/if}}        

        <div class="row">            
            <div class="col-sm-6 text-center">
              <img src="/images/{{data.name}}.jpg" width="400" height="400">
            </div>
            
            <!-- product details -->
            <div class="col-sm-6" style="background-color: #fff;">
                <div><h5>{{data.name}}</h5></div><br>                
                <!-- call convertToCurrency helper function in server.js -->
                <div><b>Price:</b> {{convertToCurrency data.price}}</div><br>
                <div><b>Description:</b> {{data.description}}</div><br>   

              <div>
                <i>Only {{data.quantity}} left in stock - order soon.</i><br><br>
              </div>

                <form method="post" action="/cart/add/{{data.id}}">
                  <div class="form-group row">
                    <div class="col-sm-10" style="margin-bottom: 20px">
                      <div class="row">
                        <label class="row col-5" for="qty">Select Quantity:</label>
                        <select class="form-control col" data-style="btn-info" name="prodQty">
                            {{!-- loop through product count --}}
                            {{#each data.prodCountArray}}
                              {{!-- list the index values for the dropdown --}}
                              <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                      </div>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-block btn-primary mb-2">Add to cart</button>
                  </div>
                </form>

            </div>
        </div>

    </div>
  </div>
</div>